<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.mall.dao.login.ShopMemberInfoDao">
<select id="login" resultType="int" >
    select count(*) from shop_member_info
    <where>
        <if test="smi.username">
            username = #{smi.username} and
        </if>
        <if test="smi.password">
            password = #{smi.password} and
        </if>
    </where>

</select>


</mapper>